<header>

<div class="top_nav " >
        <nav class="navbar" > 
            <div class="menu_icon" onclick="menuVisible(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <ul class="ul_menu">
                <li><a href="/Blood-Bud" class="nav_elem">Home</a></li>
                <li><a href="#" class="nav_elem">Donate</a></li>
                <li><a href="/Blood-Bud/request" class="nav_elem">Request</a></li>
                <li><a href="/Blood-Bud/FAQs" class="nav_elem">FAQS</a></li>
                <li><a href="/Blood-Bud/user/history"class="nav_elem">History</a></li>
            </ul>
             <img src="/img/bloodbud.png" id="bellIcon" alt="Bell icon" width="140px" height="100px">
                <nav class="nav">
                    <button type="button" class="nav-close" onclick="toggleNav()">
                      <ion-icon name="close-outline" size="large"></ion-icon>
                    </button>
                    <div class="nav-links-container">
                      <a href="#" class="nav__link">
                        <span class="nav__text">Edit profile</span>
                        <ion-icon name="people-outline" size="large"></ion-icon>
                      </a>
                      <a href="/Blood-Bud/user/history" class="nav__link">
                        <span class="nav__text">History</span>
                        <ion-icon name="time-outline" size="large"></ion-icon>
                      </a>
                      <a href="#" class="nav__link">
                        <span class="nav__text">Contact Us</span>
                        <ion-icon name="call-outline" size="large"></ion-icon>
                      </a>
                      <a href="/logout" class="nav__link">
                          <span class="nav__text">Logout</span>
                          <ion-icon name="log-out-outline" size="large"></ion-icon>
                        </a>
                    </div>
                  </nav>
                <main class="main" id="logo">
                    <button onclick="toggleNav()">
                      <ion-icon name="person-circle-outline" ></ion-icon>
                  </button>
                  </main>
        </nav>

    </div>
</header>
